<%= form_for(@service_config) do |f| %>
  <% if @service_config.errors.any? %>
    <div class="row">
      <div id="error_explanation" class="alert alert-danger col-md-6">
        <% @service_config.errors.full_messages.each do |message| %>
          <h4><%= message %></h4>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="form-group col-md-4">
      <%= f.label :name %><br>
      <div class='input-group'>
        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
        <%= f.text_field :name, required: true, placeholder: "What's Your Name?", class: "form-control input-lg" %>
      </div>
    </div>
    <div class="form-group col-md-4">
      <%= f.label :phone %>
      <div class='input-group'>
        <span class="input-group-addon"><span class="glyphicon glyphicon-earphone"></span></span>
        <%= f.text_field :phone, class: "form-control input-lg", required: true, placeholder: "What's Your Phone Number?" %>
      </div>
    </div>
    <div class="form-group col-md-4">
      <%= f.label :email %><br>
      <div class='input-group'>
        <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
        <%= f.text_field :email, class: "form-control input-lg", required: true, placeholder: "What's Your Email?" %>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="form-group col-md-3">
      <%= f.label :website_needed %>
      <%= f.check_box :website_needed %>
    </div>
    <div class="form-group col-md-3">
      <%= f.label :social_needed %>
      <%= f.check_box :social_needed %>
    </div>
    <div class="form-group col-md-3">
      <%= f.label :video_needed %>
      <%= f.check_box :video_needed %>
    </div>
    <div class="form-group col-md-3">
      <%= f.label :appdev_needed %>
      <%= f.check_box :appdev_needed %>
    </div>
  </div>


  <div class="row">
    <div class="form-group col-md-12">
      <%= f.label :desired_contract_length, "Desired contract length:" %>
      <span id="contract_months">12 months</span>
      <br>
      <%= f.range_field :desired_contract_length, in: 6..24, step: 1 %>
    </div>
  </div>

  <div class="row alert alert-success">
    <div class="form-group col-md-7">
      <h2>Base Subscription:
        <span id="base_subscription_cost"></span>
      </h2>
    </div>
  </div>

  <div class="form-group col-md-12 text-center">
    <%= f.submit "Submit Quote", class: "btn btn-lg btn-primary" %>
  </div>
<% end %>


<script type="text/javascript">
  WEBSITE_COST = 7500;
  SOCIAL_COST  = 2500;
  VIDEO_COST   = 2500;
  APPDEV_COST  = 5000;
  $("input#service_config_desired_contract_length").val(12);
  calculate_monthly_cost();

  function total_service_cost() {
    total_cost = 0;

    if($('input#service_config_website_needed').is( ":checked" )) {
      total_cost += WEBSITE_COST;
    }
    if ($('input#service_config_social_needed').is( ":checked" )) {
      total_cost += SOCIAL_COST;
    }
    if ($('input#service_config_video_needed').is( ":checked" )) {
      total_cost += VIDEO_COST;
    }
    if ($('input#service_config_appdev_needed').is( ":checked" )) {
      total_cost += APPDEV_COST;
    }

    return total_cost;
  }

  function calculate_monthly_cost() {
    val = $("input#service_config_desired_contract_length").val();
    base_cost = total_service_cost();
    console.log(base_cost);
    subscription_price = Math.round((base_cost / val) * 100) / 100;
    
    $('#contract_months').text(val + " months");
    $('#base_subscription_cost').text("$" + (subscription_price) + "/mo");
  }

  $("input#service_config_desired_contract_length").change(function() {
    calculate_monthly_cost();
  });

  $("input[type='checkbox']").change(function() {
    calculate_monthly_cost();
  });


</script>
