<div class="col-lg-12">
  <div class="panel panel-default" id="headings">
    <div class="panel-heading">Service Configrations</div>
    <div class="panel-body">
      <h1 class="page-header">All of em</h1>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Website needed</th>
            <th>Social needed</th>
            <th>Video needed</th>
            <th>Appdev needed</th>
            <th>Desired contract length</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @service_configs.each do |service_config| %>
            <tr>
              <td><%= service_config.name %></td>
              <td><%= service_config.phone %></td>
              <td><%= service_config.email %></td>
              <td><%= service_config.website_needed %></td>
              <td><%= service_config.social_needed %></td>
              <td><%= service_config.video_needed %></td>
              <td><%= service_config.appdev_needed %></td>
              <td><%= service_config.desired_contract_length %></td>
              <td><%= link_to 'Show', service_config %></td>
              <td><%= link_to 'Edit', edit_service_config_path(service_config) %></td>
              <td><%= link_to 'Destroy', service_config, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'New Service config', new_service_config_path %>

    </div>
  </div>
</div>