<div class="col-lg-12">
  <div class="panel panel-default" id="headings">
    <div class="panel-heading">Service Configrations</div>
    <div class="panel-body">

      <h1>New service_config</h1>

      <%= render 'form' %>

      <%= link_to 'Back', service_configs_path %>
    </div>
  </div>
</div>