<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @service_config.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @service_config.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @service_config.email %>
</p>

<p>
  <strong>Website needed:</strong>
  <%= @service_config.website_needed %>
</p>

<p>
  <strong>Social needed:</strong>
  <%= @service_config.social_needed %>
</p>

<p>
  <strong>Video needed:</strong>
  <%= @service_config.video_needed %>
</p>

<p>
  <strong>Appdev needed:</strong>
  <%= @service_config.appdev_needed %>
</p>

<p>
  <strong>Desired contract length:</strong>
  <%= @service_config.desired_contract_length %>
</p>

<%= link_to 'Edit', edit_service_config_path(@service_config) %> |
<%= link_to 'Back', service_configs_path %>
