<div class="row">
  <div class="col-sm-12 col-md-6">
    <div class="panel panel-default fade" id="headings">
      <div class="panel-heading">Headings with the .fade CSS class attached.</div>
      <div class="panel-body">
      <h1 class="page-header">Page Header <small>With Small Text</small></h1>
      <h1>This is an h1 heading</h1>
      <h2>This is an h2 heading</h2>
      <h3>This is an h3 heading</h3>
      <h4>This is an h4 heading</h4>
      <h5>This is an h5 heading</h5>
      <h6>This is an h6 heading</h6>
      </div>
    </div>
  </div>

  <div class="hidden-sm col-xs-4 col-md-6">
    <div class="panel panel-default" id="headings">
      <div class="panel-heading">Big form with lots of shit</div>
      <div class="panel-body">
        <h1 class="page-header">Page Header <small>With Small Text</small></h1>
        <p>Form data here</p>
      </div>
    </div>
  </div>
</div>

<div class="row" style="margin: 1em 0;">
  <hr>
</div>

<div class="row">
  <div class="col-lg-12">
    <%= render 'service_configs/form' %>
  </div>
</div>
