<!DOCTYPE html>
<html>
<head>
  <title>ThirtyNinth</title>

  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" media="all" rel="stylesheet" type="text/css" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <style type="text/css">
    div.row.well a {
      color: white;
    }
  </style>

  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <%= csrf_meta_tags %>
<!-- 
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/knockout/3.1.0/knockout-min.js"></script>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/knockout-bootstrap/0.2.1/knockout-bootstrap.js"></script>
   -->
</head>
<body>

<div class="row well">
  <%= link_to "Home", root_path %> | 
  <%= link_to "Service Configs", service_configs_path %>
</div>

  <div class="container">
    <div class="row">
      <h1>Thirty Ninth!!!</h1>
    </div>

    <div class="row" style="margin: 1em 0;">
      <hr>
    </div>

    <div class="row">
      <%= yield %>
    </div>

    <div class="row" style="margin: 1em 0;">
      <hr>
    </div>

    <footer style="margin-top: 2em;">
      <p>Footer info</p>
    </footer>
  </div>

</body>
</html>
